{% extends "demo/base.html" %}
{% load static %}
{% block content %}
<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Portfolio -->
                <section>
                    <header class="major">
                        <h3>Tour 1</h3><br>
                        <h2>Caminata a Monte Tarn</h2>
                    </header>
                    <div class="row">
                        <div class="col-md-12 col-sm-6">
                            <section class="box">
                                <a href="#" class="image featured"><img src="{% static 'img/Monte_Tarn_6.jpg' %}"
                                        class="img-fluid mx-auto d-block" style="height: 80%; width: 80%;" alt="Metallica" /></a>
                                <header>
                            
                                </header>
                                <center>
                                <div class="col-md-10 col-sm-6">
                                    <h2 class="card-title">Caminata a Monte Tarn</h2>
                                    <p class="card-text" style="float:left;">Valor:</p><p class="card-text" style="float:right;">$180.000</p><br><hr>
                                    <p class="card-text" style="float:left;">Duracion:</p><p class="card-text" style="float:right;">6 horas</p><br><hr>
                                    <p class="card-text" style="float:left;">Nivel de exigencia:</p><p class="card-text" style="float:right;">Medio-Alto</p><br><hr>
                                    <p class="card-text" style="float:left;">Desayuno y bebestible:</p><p class="card-text" style="float:right;">Si</p><br><hr>
                                    <p class="card-text" style="float:left;">Almuerzo y bebestible:</p><p class="card-text" style="float:right;">Si</p><br>
                                  </div>
                                  <div class="col-md-10 col-sm-6">
                                    <h2 class="card-title">Recomendaciones</h2>
                                    <p class="card-text" style="float:left;">Vestimenta:</p><p class="card-text" style="float:right;">LLevar ropa para nieve</p><br><hr>
                                    <p class="card-text" style="float:left;">Zapatos:</p><p class="card-text" style="float:right;">Calzado impermeable</p><br><hr>
                                    <p class="card-text" style="float:left;">Baston:</p><p class="card-text" style="float:right;">LLevar o le arrendamos</p><br><hr>
                                    <p class="card-text" style="float:left;">Cocaví:</p><p class="card-text" style="float:right;">Llevar frutos secos y liquido</p><br><hr>
                                    <p class="card-text" style="float:left;">Ropa de recambio:</p><p class="card-text" style="float:right;">Llevar una muda extra</p><br><hr>
                                  </div>
                                </center>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="comprar" class="button alt">Ir a Comprar</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/empresa.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
